# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
build/.vs/Practica5/v16/.suo
build/.vs/Practica5/v16/Browse.VC.db
build/.vs/Practica5/v16/ipch/AutoPCH/14ded6c227a3727c/ENGINE.ipch
build/.vs/Practica5/v16/ipch/AutoPCH/47042e150944d35/DEFERREDPASSVK.ipch
build/.vs/Practica5/v16/ipch/AutoPCH/4f0bf7ff4585c1c2/DIFFUSE.ipch
build/.vs/Practica5/v16/ipch/AutoPCH/63c782d6134c6d6b/DEVICEVK.ipch
build/.vs/Practica5/v16/ipch/AutoPCH/8afd6ef490778229/DEVICEVK.ipch
build/.vs/Practica5/v16/ipch/AutoPCH/957d70f5033d8643/DEFERREDPASSVK.ipch
build/.vs/Practica5/v16/ipch/AutoPCH/c082fdbbde57d517/ENGINE.ipch
build/.vs/Practica5/v16/ipch/AutoPCH/c325015533d8841e/MAIN.ipch
build/.vs/Practica5/v16/ipch/AutoPCH/d6c744b1faa80758/MAIN.ipch
build/.vs/Practica5/v16/Solution.VC.db
build/ALL_BUILD.vcxproj
build/ALL_BUILD.vcxproj.filters
build/ALL_BUILD.vcxproj.user
build/cmake_install.cmake
build/CMakeCache.txt
build/CMakeFiles/3.31.5/CMakeCCompiler.cmake
build/CMakeFiles/3.31.5/CMakeCXXCompiler.cmake
build/CMakeFiles/3.31.5/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.31.5/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.31.5/CMakeRCCompiler.cmake
build/CMakeFiles/3.31.5/CMakeSystem.cmake
build/CMakeFiles/3.31.5/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.31.5/CompilerIdC/CompilerIdC.vcxproj
build/CMakeFiles/3.31.5/CompilerIdC/Debug/CompilerIdC.exe.recipe
build/CMakeFiles/3.31.5/CompilerIdC/Debug/CompilerIdC.tlog/CL.command.1.tlog
build/CMakeFiles/3.31.5/CompilerIdC/Debug/CompilerIdC.tlog/CL.read.1.tlog
build/CMakeFiles/3.31.5/CompilerIdC/Debug/CompilerIdC.tlog/CL.write.1.tlog
build/CMakeFiles/3.31.5/CompilerIdC/Debug/CompilerIdC.tlog/CompilerIdC.lastbuildstate
build/CMakeFiles/3.31.5/CompilerIdC/Debug/CompilerIdC.tlog/link.command.1.tlog
build/CMakeFiles/3.31.5/CompilerIdC/Debug/CompilerIdC.tlog/link.read.1.tlog
build/CMakeFiles/3.31.5/CompilerIdC/Debug/CompilerIdC.tlog/link.write.1.tlog
build/CMakeFiles/3.31.5/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/3.31.5/CompilerIdCXX/CompilerIdCXX.vcxproj
build/CMakeFiles/3.31.5/CompilerIdCXX/Debug/CompilerIdCXX.exe.recipe
build/CMakeFiles/3.31.5/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
build/CMakeFiles/3.31.5/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
build/CMakeFiles/3.31.5/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
build/CMakeFiles/3.31.5/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
build/CMakeFiles/3.31.5/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
build/CMakeFiles/3.31.5/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
build/CMakeFiles/3.31.5/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
build/CMakeFiles/3.31.5/VCTargetsPath.txt
build/CMakeFiles/3.31.5/VCTargetsPath.vcxproj
build/CMakeFiles/3.31.5/x64/Debug/VCTargetsPath.recipe
build/CMakeFiles/3.31.5/x64/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
build/CMakeFiles/8a52573dde1d4247b40e9891b809a0fd/generate.stamp.rule
build/CMakeFiles/8a52573dde1d4247b40e9891b809a0fd/INSTALL_force.rule
build/CMakeFiles/8c4dbe5479a920752206db21a1c8cdba/INSTALL_force.rule
build/CMakeFiles/8c4dbe5479a920752206db21a1c8cdba/uninstall.rule
build/CMakeFiles/a91a573d15532f18dde660b1fe7e0fe0/Continuous.rule
build/CMakeFiles/a91a573d15532f18dde660b1fe7e0fe0/Experimental.rule
build/CMakeFiles/a91a573d15532f18dde660b1fe7e0fe0/INSTALL_force.rule
build/CMakeFiles/a91a573d15532f18dde660b1fe7e0fe0/Nightly.rule
build/CMakeFiles/a91a573d15532f18dde660b1fe7e0fe0/NightlyMemoryCheck.rule
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeFiles/dfc3bd30f45c352108c82393d0559eeb/INSTALL_force.rule
build/CMakeFiles/dfc3bd30f45c352108c82393d0559eeb/update_mappings.rule
build/CMakeFiles/e8fc9927b2d55eefe97c4ca5e36526e5/INSTALL_force.rule
build/CMakeFiles/generate.stamp
build/CMakeFiles/generate.stamp.depend
build/CMakeFiles/generate.stamp.list
build/CMakeFiles/TargetDirectories.txt
build/Debug/Practica5.pdb
build/INSTALL.vcxproj
build/INSTALL.vcxproj.filters
build/libs/glfw/ALL_BUILD.vcxproj
build/libs/glfw/ALL_BUILD.vcxproj.filters
build/libs/glfw/cmake_install.cmake
build/libs/glfw/cmake_uninstall.cmake
build/libs/glfw/CMakeFiles/Export/f367bd07922f2ecfc14cf5547f1f7c4e/glfw3Targets-debug.cmake
build/libs/glfw/CMakeFiles/Export/f367bd07922f2ecfc14cf5547f1f7c4e/glfw3Targets-minsizerel.cmake
build/libs/glfw/CMakeFiles/Export/f367bd07922f2ecfc14cf5547f1f7c4e/glfw3Targets-release.cmake
build/libs/glfw/CMakeFiles/Export/f367bd07922f2ecfc14cf5547f1f7c4e/glfw3Targets-relwithdebinfo.cmake
build/libs/glfw/CMakeFiles/Export/f367bd07922f2ecfc14cf5547f1f7c4e/glfw3Targets.cmake
build/libs/glfw/CMakeFiles/generate.stamp
build/libs/glfw/CMakeFiles/generate.stamp.depend
build/libs/glfw/GLFW.sln
build/libs/glfw/INSTALL.vcxproj
build/libs/glfw/INSTALL.vcxproj.filters
build/libs/glfw/src/cmake_install.cmake
build/libs/glfw/src/CMakeFiles/generate.stamp
build/libs/glfw/src/CMakeFiles/generate.stamp.depend
build/libs/glfw/src/Debug/glfw3.pdb
build/libs/glfw/src/glfw.dir/Debug/glfw.log
build/libs/glfw/src/glfw.dir/Debug/glfw.tlog/CL.command.1.tlog
build/libs/glfw/src/glfw.dir/Debug/glfw.tlog/CL.read.1.tlog
build/libs/glfw/src/glfw.dir/Debug/glfw.tlog/CL.write.1.tlog
build/libs/glfw/src/glfw.dir/Debug/glfw.tlog/CustomBuild.command.1.tlog
build/libs/glfw/src/glfw.dir/Debug/glfw.tlog/CustomBuild.read.1.tlog
build/libs/glfw/src/glfw.dir/Debug/glfw.tlog/CustomBuild.write.1.tlog
build/libs/glfw/src/glfw.dir/Debug/glfw.tlog/glfw.lastbuildstate
build/libs/glfw/src/glfw.dir/Debug/glfw.tlog/Lib-link.read.1.tlog
build/libs/glfw/src/glfw.dir/Debug/glfw.tlog/Lib-link.write.1.tlog
build/libs/glfw/src/glfw.dir/Debug/glfw.tlog/Lib.command.1.tlog
build/libs/glfw/src/glfw.dir/Debug/glfw3.lib.recipe
build/libs/glfw/src/glfw.dir/Release/glfw.log
build/libs/glfw/src/glfw.dir/Release/glfw.tlog/CL.command.1.tlog
build/libs/glfw/src/glfw.dir/Release/glfw.tlog/CL.read.1.tlog
build/libs/glfw/src/glfw.dir/Release/glfw.tlog/CL.write.1.tlog
build/libs/glfw/src/glfw.dir/Release/glfw.tlog/CustomBuild.command.1.tlog
build/libs/glfw/src/glfw.dir/Release/glfw.tlog/CustomBuild.read.1.tlog
build/libs/glfw/src/glfw.dir/Release/glfw.tlog/CustomBuild.write.1.tlog
build/libs/glfw/src/glfw.dir/Release/glfw.tlog/glfw.lastbuildstate
build/libs/glfw/src/glfw.dir/Release/glfw.tlog/Lib-link.read.1.tlog
build/libs/glfw/src/glfw.dir/Release/glfw.tlog/Lib-link.write.1.tlog
build/libs/glfw/src/glfw.dir/Release/glfw.tlog/Lib.command.1.tlog
build/libs/glfw/src/glfw.dir/Release/glfw3.lib.recipe
build/libs/glfw/src/glfw.vcxproj
build/libs/glfw/src/glfw.vcxproj.filters
build/libs/glfw/src/glfw3.pc
build/libs/glfw/src/glfw3Config.cmake
build/libs/glfw/src/glfw3ConfigVersion.cmake
build/libs/glfw/src/glfw_config.h
build/libs/glfw/src/INSTALL.vcxproj
build/libs/glfw/src/INSTALL.vcxproj.filters
build/libs/glfw/src/update_mappings.vcxproj
build/libs/glfw/src/update_mappings.vcxproj.filters
build/libs/glfw/uninstall.vcxproj
build/libs/glfw/uninstall.vcxproj.filters
build/libs/pugixml/ALL_BUILD.vcxproj
build/libs/pugixml/ALL_BUILD.vcxproj.filters
build/libs/pugixml/cmake_install.cmake
build/libs/pugixml/CMakeFiles/Export/be764272e56105fc8ff11fec8314e604/pugixml-targets-debug.cmake
build/libs/pugixml/CMakeFiles/Export/be764272e56105fc8ff11fec8314e604/pugixml-targets-minsizerel.cmake
build/libs/pugixml/CMakeFiles/Export/be764272e56105fc8ff11fec8314e604/pugixml-targets-release.cmake
build/libs/pugixml/CMakeFiles/Export/be764272e56105fc8ff11fec8314e604/pugixml-targets-relwithdebinfo.cmake
build/libs/pugixml/CMakeFiles/Export/be764272e56105fc8ff11fec8314e604/pugixml-targets.cmake
build/libs/pugixml/CMakeFiles/generate.stamp
build/libs/pugixml/CMakeFiles/generate.stamp.depend
build/libs/pugixml/Continuous.vcxproj
build/libs/pugixml/Continuous.vcxproj.filters
build/libs/pugixml/CTestTestfile.cmake
build/libs/pugixml/DartConfiguration.tcl
build/libs/pugixml/Debug/pugixml.pdb
build/libs/pugixml/Experimental.vcxproj
build/libs/pugixml/Experimental.vcxproj.filters
build/libs/pugixml/Experimental.vcxproj.user
build/libs/pugixml/INSTALL.vcxproj
build/libs/pugixml/INSTALL.vcxproj.filters
build/libs/pugixml/Nightly.vcxproj
build/libs/pugixml/Nightly.vcxproj.filters
build/libs/pugixml/NightlyMemoryCheck.vcxproj
build/libs/pugixml/NightlyMemoryCheck.vcxproj.filters
build/libs/pugixml/pugixml-config-version.cmake
build/libs/pugixml/pugixml-config.cmake
build/libs/pugixml/pugixml-static.dir/Debug/pugixml-static.log
build/libs/pugixml/pugixml-static.dir/Debug/pugixml-static.tlog/CL.command.1.tlog
build/libs/pugixml/pugixml-static.dir/Debug/pugixml-static.tlog/CL.read.1.tlog
build/libs/pugixml/pugixml-static.dir/Debug/pugixml-static.tlog/CL.write.1.tlog
build/libs/pugixml/pugixml-static.dir/Debug/pugixml-static.tlog/CustomBuild.command.1.tlog
build/libs/pugixml/pugixml-static.dir/Debug/pugixml-static.tlog/CustomBuild.read.1.tlog
build/libs/pugixml/pugixml-static.dir/Debug/pugixml-static.tlog/CustomBuild.write.1.tlog
build/libs/pugixml/pugixml-static.dir/Debug/pugixml-static.tlog/Lib-link.read.1.tlog
build/libs/pugixml/pugixml-static.dir/Debug/pugixml-static.tlog/Lib-link.write.1.tlog
build/libs/pugixml/pugixml-static.dir/Debug/pugixml-static.tlog/Lib.command.1.tlog
build/libs/pugixml/pugixml-static.dir/Debug/pugixml-static.tlog/pugixml-static.lastbuildstate
build/libs/pugixml/pugixml-static.dir/Debug/pugixml.lib.recipe
build/libs/pugixml/pugixml-static.dir/Release/pugixml-static.log
build/libs/pugixml/pugixml-static.dir/Release/pugixml-static.tlog/CL.command.1.tlog
build/libs/pugixml/pugixml-static.dir/Release/pugixml-static.tlog/CL.read.1.tlog
build/libs/pugixml/pugixml-static.dir/Release/pugixml-static.tlog/CL.write.1.tlog
build/libs/pugixml/pugixml-static.dir/Release/pugixml-static.tlog/CustomBuild.command.1.tlog
build/libs/pugixml/pugixml-static.dir/Release/pugixml-static.tlog/CustomBuild.read.1.tlog
build/libs/pugixml/pugixml-static.dir/Release/pugixml-static.tlog/CustomBuild.write.1.tlog
build/libs/pugixml/pugixml-static.dir/Release/pugixml-static.tlog/Lib-link.read.1.tlog
build/libs/pugixml/pugixml-static.dir/Release/pugixml-static.tlog/Lib-link.write.1.tlog
build/libs/pugixml/pugixml-static.dir/Release/pugixml-static.tlog/Lib.command.1.tlog
build/libs/pugixml/pugixml-static.dir/Release/pugixml-static.tlog/pugixml-static.lastbuildstate
build/libs/pugixml/pugixml-static.dir/Release/pugixml.lib.recipe
build/libs/pugixml/pugixml-static.vcxproj
build/libs/pugixml/pugixml-static.vcxproj.filters
build/libs/pugixml/pugixml-targets.cmake
build/libs/pugixml/pugixml.pc
build/libs/pugixml/pugixml.sln
build/libs/tinyobjloader/ALL_BUILD.vcxproj
build/libs/tinyobjloader/ALL_BUILD.vcxproj.filters
build/libs/tinyobjloader/cmake_install.cmake
build/libs/tinyobjloader/CMakeFiles/Export/ed38dc2cb1e14c44cc057c68af26fb32/tinyobjloader-targets-debug.cmake
build/libs/tinyobjloader/CMakeFiles/Export/ed38dc2cb1e14c44cc057c68af26fb32/tinyobjloader-targets-minsizerel.cmake
build/libs/tinyobjloader/CMakeFiles/Export/ed38dc2cb1e14c44cc057c68af26fb32/tinyobjloader-targets-release.cmake
build/libs/tinyobjloader/CMakeFiles/Export/ed38dc2cb1e14c44cc057c68af26fb32/tinyobjloader-targets-relwithdebinfo.cmake
build/libs/tinyobjloader/CMakeFiles/Export/ed38dc2cb1e14c44cc057c68af26fb32/tinyobjloader-targets.cmake
build/libs/tinyobjloader/CMakeFiles/generate.stamp
build/libs/tinyobjloader/CMakeFiles/generate.stamp.depend
build/libs/tinyobjloader/Debug/tinyobjloader.pdb
build/libs/tinyobjloader/INSTALL.vcxproj
build/libs/tinyobjloader/INSTALL.vcxproj.filters
build/libs/tinyobjloader/tinyobjloader-config-version.cmake
build/libs/tinyobjloader/tinyobjloader-config.cmake
build/libs/tinyobjloader/tinyobjloader-targets.cmake
build/libs/tinyobjloader/tinyobjloader.dir/Debug/tinyobjloader.lib.recipe
build/libs/tinyobjloader/tinyobjloader.dir/Debug/tinyobjloader.log
build/libs/tinyobjloader/tinyobjloader.dir/Debug/tinyobjloader.tlog/CL.command.1.tlog
build/libs/tinyobjloader/tinyobjloader.dir/Debug/tinyobjloader.tlog/CL.read.1.tlog
build/libs/tinyobjloader/tinyobjloader.dir/Debug/tinyobjloader.tlog/CL.write.1.tlog
build/libs/tinyobjloader/tinyobjloader.dir/Debug/tinyobjloader.tlog/CustomBuild.command.1.tlog
build/libs/tinyobjloader/tinyobjloader.dir/Debug/tinyobjloader.tlog/CustomBuild.read.1.tlog
build/libs/tinyobjloader/tinyobjloader.dir/Debug/tinyobjloader.tlog/CustomBuild.write.1.tlog
build/libs/tinyobjloader/tinyobjloader.dir/Debug/tinyobjloader.tlog/Lib-link.read.1.tlog
build/libs/tinyobjloader/tinyobjloader.dir/Debug/tinyobjloader.tlog/Lib-link.write.1.tlog
build/libs/tinyobjloader/tinyobjloader.dir/Debug/tinyobjloader.tlog/Lib.command.1.tlog
build/libs/tinyobjloader/tinyobjloader.dir/Debug/tinyobjloader.tlog/tinyobjloader.lastbuildstate
build/libs/tinyobjloader/tinyobjloader.dir/Release/tinyobjloader.lib.recipe
build/libs/tinyobjloader/tinyobjloader.dir/Release/tinyobjloader.log
build/libs/tinyobjloader/tinyobjloader.dir/Release/tinyobjloader.tlog/CL.command.1.tlog
build/libs/tinyobjloader/tinyobjloader.dir/Release/tinyobjloader.tlog/CL.read.1.tlog
build/libs/tinyobjloader/tinyobjloader.dir/Release/tinyobjloader.tlog/CL.write.1.tlog
build/libs/tinyobjloader/tinyobjloader.dir/Release/tinyobjloader.tlog/CustomBuild.command.1.tlog
build/libs/tinyobjloader/tinyobjloader.dir/Release/tinyobjloader.tlog/CustomBuild.read.1.tlog
build/libs/tinyobjloader/tinyobjloader.dir/Release/tinyobjloader.tlog/CustomBuild.write.1.tlog
build/libs/tinyobjloader/tinyobjloader.dir/Release/tinyobjloader.tlog/Lib-link.read.1.tlog
build/libs/tinyobjloader/tinyobjloader.dir/Release/tinyobjloader.tlog/Lib-link.write.1.tlog
build/libs/tinyobjloader/tinyobjloader.dir/Release/tinyobjloader.tlog/Lib.command.1.tlog
build/libs/tinyobjloader/tinyobjloader.dir/Release/tinyobjloader.tlog/tinyobjloader.lastbuildstate
build/libs/tinyobjloader/tinyobjloader.pc
build/libs/tinyobjloader/tinyobjloader.sln
build/libs/tinyobjloader/tinyobjloader.vcxproj
build/libs/tinyobjloader/tinyobjloader.vcxproj.filters
build/Practica5.dir/Debug/Practica5.exe.recipe
build/Practica5.dir/Debug/Practica5.ilk
build/Practica5.dir/Debug/Practica5.log
build/Practica5.dir/Debug/Practica5.tlog/CL.command.1.tlog
build/Practica5.dir/Debug/Practica5.tlog/CL.read.1.tlog
build/Practica5.dir/Debug/Practica5.tlog/CL.write.1.tlog
build/Practica5.dir/Debug/Practica5.tlog/CustomBuild.command.1.tlog
build/Practica5.dir/Debug/Practica5.tlog/CustomBuild.read.1.tlog
build/Practica5.dir/Debug/Practica5.tlog/CustomBuild.write.1.tlog
build/Practica5.dir/Debug/Practica5.tlog/link.command.1.tlog
build/Practica5.dir/Debug/Practica5.tlog/link.read.1.tlog
build/Practica5.dir/Debug/Practica5.tlog/link.write.1.tlog
build/Practica5.dir/Debug/Practica5.tlog/Practica5.lastbuildstate
build/Practica5.dir/Debug/vc142.pdb
build/Practica5.dir/Release/Practica5.exe.recipe
build/Practica5.dir/Release/Practica5.log
build/Practica5.dir/Release/Practica5.tlog/CL.command.1.tlog
build/Practica5.dir/Release/Practica5.tlog/CL.read.1.tlog
build/Practica5.dir/Release/Practica5.tlog/CL.write.1.tlog
build/Practica5.dir/Release/Practica5.tlog/CustomBuild.command.1.tlog
build/Practica5.dir/Release/Practica5.tlog/CustomBuild.read.1.tlog
build/Practica5.dir/Release/Practica5.tlog/CustomBuild.write.1.tlog
build/Practica5.dir/Release/Practica5.tlog/link.command.1.tlog
build/Practica5.dir/Release/Practica5.tlog/link.read.1.tlog
build/Practica5.dir/Release/Practica5.tlog/link.write.1.tlog
build/Practica5.dir/Release/Practica5.tlog/Practica5.lastbuildstate
build/Practica5.sln
build/Practica5.vcxproj
build/Practica5.vcxproj.filters
build/Practica5.vcxproj.user
build/x64/Debug/ALL_BUILD/ALL_BUILD.log
build/x64/Debug/ALL_BUILD/ALL_BUILD.recipe
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/ALL_BUILD.lastbuildstate
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.command.1.tlog
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.read.1.tlog
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.write.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.log
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.recipe
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.command.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.read.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.write.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
build/x64/Release/ZERO_CHECK/ZERO_CHECK.log
build/x64/Release/ZERO_CHECK/ZERO_CHECK.recipe
build/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.command.1.tlog
build/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.read.1.tlog
build/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.write.1.tlog
build/x64/Release/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
build/ZERO_CHECK.vcxproj
build/ZERO_CHECK.vcxproj.filters
